<div class="col s6 m4 offset-m4" role="main">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="vm.email" type="email">
                    <label>Email</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="vm.password" type="password">
                    <label>Password</label>
                </div>
                <div class="row">
                    <div class="center-align">
                        <button class="btn" ng-click="vm.login()">Login</button>
                        <button class="btn md-primary" ng-click="vm.register()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>